.a{
    width: 180px;
    height: 400px;
    background-color: rgb(34, 156, 34);
    display: block;
    border: 1px solid green;
    margin: auto;
    margin-top: 150px;
    border-radius: 60% 60% 0% 0%;
}
.b{
    background-color: black;
    width: 15px;
    height: 11px;
    border: 1px solid black;
    position: relative;
    border-radius: 0% 0% 70% 70%;
    bottom: 1px;
    left: 3px;
}
.d{
    background-color: orangered;
    width: 25px;
    height: 30px;
    border: 1px solid orangered;
    position: relative;
    border-radius: 0% 0% 40% 60%;
    top: 80px;
    left: 100px;
}
.c{
    background-color: orange;
    width: 22px;
    height: 20px;
    border: 1px solid orange;
    position: relative;
    border-radius: 0% 0% 60% 60%;
    right: 1px;
    bottom: 1px;
}
.e{
    width: 57px;
    height: 180px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 0% 10% 20% 90%;
    position: relative;
    top: 140px;
    left: 129px;
}
.f{
    background-color: rgb(34, 156, 34);
    width: 110px;
    height: 20px;
    position: relative;
    bottom: 220px;
    border: 1px solid rgb(34, 156, 34);
    border-radius: 40% 70% 0% 70%;
}
.g{
    background-color: white;
    width: ;
}
.h{
    background-color: orange;
    width: 110px;
    height: 65px;
    position: relative;
    bottom: 163px;
    right: 45px;
    border: 1px solid orange;
    border-radius: 100% 0% 0% 0%;
}
.i{
    background-color: black;
    width: 15px;
    height: 10px;
    position: relative;
    left: 50px;
    top: 10px;
    border: 1px solid black;
    border-radius: 60% 60%;
}
.j{
    background-color: chocolate;
    width: 20px;
    height: 40px;
    position: relative;
    top: 98px;
    left: 140px;
}
.k1 {
    background-color: orange;
    height: 100px;
    width: 180px;
    position: absolute;
    border-radius: 100%;
    top: 230px;
    left: 820px;
    z-index: -1;
}
.k{   
    background-color: chocolate;
    width: 20px;
    height: 40px;
    position: relative;
    top: 58px;
    left: 50px;
}
body{
    background-color: rgb(37, 34, 34);
}