.transparent {
  position: relative;
  max-width: 400px;
  padding: 60px 50px;
  margin: 50px auto;
  background-size: cover;
}
.transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right bottom,rgba(248, 232, 3, 0.5),rgba(214, 123, 49, 0.5));
}
.form-inner {position: relative;}
.form-inner h3 {
  position: relative;
  margin-top: 0;
  color: rgb(175, 21, 149);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
}
.form-inner h3:after {
  content: "";
  position :absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 60px;
  background: #1762EE;
}
.form-inner label {
  display: block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(175, 21, 149);
  text-transform: uppercase;
  font-size: 14px;
}
.form-inner input {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 10px 0 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: rgb(175, 21, 149);
  background: rgba(255,255,255,.2);
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
#custom-checkbox + label {
  position: relative;
  margin: 20px 0;
  text-transform:none;
  cursor: pointer;
}
#custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: text-top;
  background: whitesmoke;
}
#custom-checkbox:checked + label:before {background: #1762EE;}
#custom-checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  left: 20px;
  top: 9px;
  background: white;
  transform: rotate(45deg);
}
.form-inner input[type="submit"] {background: #f8f9fc;}
.a{
    background: wheat;
    width: 100%;
    height: 920px; 
}