.b{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b:hover{
    background-color: black ;
    height: 300px;
    width: 300px;

}
.b1{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b1:hover{
    background-color: black ;
    height: 300px;
    width: 300px;
}
.b2{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b2:hover{
    background-color: black ;
    height: 300px;
    width: 300px;
}
.b3{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b3:hover{
    background-color: black ;
    height: 300px;
    width: 300px;

}
.b4{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b4:hover{
    background-color: black ;
    height: 300px;
    width: 300px;

}
.b5{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b5:hover{
    background-color: black ;
    height: 300px;
    width: 300px;
}
.b6{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b6:hover{
    background-color: black ;
    height: 300px;
    width: 300px;
}
.b7{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b7:hover{
    background-color: black ;
    height: 300px;
    width: 300px;
}
.b8{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b8:hover{
    background-color: black ;
    height: 300px;
    width: 300px;
}
.b9{
    height: 50px;
    background-color: lightblue;
    width: 50px;
    transition: all 1s;
    overflow: scroll;
}
.b9:hover{
    background-color: black ;
    height: 300px;
    width: 300px;
}
h5{
    color: white;
}