.a{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a:link{
    color: aquamarine;
}
.a:hover{
    color: blue;
    font-size: 45px;
}
.a:active{
    border: 3px solid red;
    color:darkviolet
}
.a1{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a1:link{
    color: aquamarine;
}
.a1:hover{
    color: blue;
    font-size: 45px;
}
.a1:active{
    border: 3px solid red;
    color:darkviolet
}
.a2{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a2:link{
    color: aquamarine;
}
.a2:hover{
    color: blue;
    font-size: 45px;
}
.a2:active{
    border: 3px solid darkslateblue;
    color:darkviolet
}
.a3{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a3:link{
    color: aquamarine;
}
.a3:hover{
    color: blue;
    font-size: 45px;
}
.a3:active{
    border: 3px solid darkslateblue;
    color:darkviolet
}
.a4{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a4:link{
    color: aquamarine;
}
.a4:hover{
    color: blue;
    font-size: 45px;
}
.a4:active{
    border: 3px solid darkslateblue;
    color:darkviolet
}
.a5{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a5:link{
    color: aquamarine;
}
.a5:hover{
    color: blue;
    font-size: 45px;
}
.a5:active{
    border: 3px solid darkslateblue;
    color:darkviolet
}
.a6{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a6:link{
    color: aquamarine;
}
.a6:hover{
    color: blue;
    font-size: 45px;
}
.a6:active{
    border: 3px solid darkslateblue;
    color:darkviolet
}
.a7{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a7:link{
    color: aquamarine;
}
.a7:hover{
    color: blue;
    font-size: 45px;
}
.a7:active{
    border: 3px solid darkslateblue;
    color:darkviolet
}
.a8{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a8:link{
    color: aquamarine;
}
.a8:hover{
    color: blue;
    font-size: 45px;
}
.a8:active{
    border: 3px solid darkslateblue;
    color:darkviolet
}
.a9{
    text-decoration: none;
    transition: all 1s;
    box-shadow: 2px 10px yellow;
    border-radius: 4px;
}
.a9:link{
    color: aquamarine;
}
.a9:hover{
    color: blue;
    font-size: 45px;
}
.a9:active{
    border: 3px solid darkslateblue;
    color:darkviolet
}
