.main{
    width: 1114px;
    height: 1309px;
    margin: auto;
}

.main2{
    width: 1003px;
        height: 1193px;
    /*    background-color: silver;*/
}

.main3{
    width: 1003px;
    height: 597px;
    margin: auto;
}

.main4{
    width: 1003px;
    height: 597px;
    margin: auto;
}

.down1{
    width: 1003px;
    height: 200px;
}

.upper{
    width: 1003px;
    height: 8px;
    background-color: orange;
}

.text{
    width: 107px;
    height: 32px;
    margin-top: 60px;
    margin-left: 133px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: gray;
}

.img1{
    padding-top: 57px;
    padding-left: 55px;
}

.img2{
    position: relative;
    top: -60px;
    left: 35px;
}



.down2text{
    position: relative;
    left: 320px;
    bottom: 115px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 152, 52);
    font-size: 15px;
    font-weight: bolder;
}


.liniya{
    position: relative;
    left: 280px;
    bottom: 135px;
    background-color: gray;
    width: 1px;
    height: 60px;
}

.down3text{
    position: relative;
    left: 320px;
    bottom: 155px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 15px;
}

.linies1{
    width: 928px;
    height: 1px;
    background-color: gray;
    margin: auto;
}

/*.hrefs{
    position: absolute;
    display: inline-block;
    margin-left: 41px;
    font-size: 18px;
    font-family: tahoma;
}

a{display:inline-block; padding:0.7rem}*/

.linies2{
    width: 928px;
    height: 1px;
    background-color: gray;
    margin-top: 50px;
    margin-left: 38px;
}


.hrefs{
    position: absolute;
    padding-top: 15px;
    width: 687px;
    height: 13px;
    margin-left: 41px;
    size: 18px;
}

.text5{
    font-family: tahoma;
    font-size: 12px;
    margin-left: 42px;
    margin-top: 40px;
}

.prod1{
    margin-left: 42px;
    margin-top: 5px;
}

.in1{
    width: 446px;
    height: 50px;
    background-color: white;

}

.text6{
     padding: 1em 0;
     text-align: center;
     font-family: tahoma;
     color: black;
}

.img151{
    position:absolute;
    top: 632px;
    left: 435px;
}

.img152{
    position:absolute;
    top: 632px;
    left: 815px;
}

.prod2{
    position:absolute;
    left: 890px;
    top: 320px;
}

.liniya151{
    width: 450px;
    height: 1px;
    background-color: gray;
    margin-top: 3px;
}

.more{
    background-color: black;
    width: 57px;
    height: 15px;
    color:white;
    text-align: center;
    margin-left: 385px;
    margin-top: 15px;

}

.texto{
    padding: 0.5em;
    line-height: 1.8;
}

.moreimg{
    width: 10px;
    height: 15px;
    background-color:black;
    margin-left: 445px;
    position:absolute;
    bottom: 0.4px;
}

/*.border{
    position:absolute;
    border: solid;
    border-width: 150px;
    height: 300px; 

}*/